@import url(header.css);
@import url(fonts.css);
@import url(top-banner.css);
@import url(products.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color:rgb(197, 197, 197)
}

@media (max-width: 700px) {
    .navbar { 
        scale: 0.7; }
}